%h1 Image Gallery

%ul
  - if user_signed_in?
    %li= link_to 'Create new gallery', new_gallery_path
  -else
    %li= link_to 'Log in', new_user_session_path
    %li= link_to 'Register', new_user_registration_path