- @photos.each do |photo|
  .card
    = gallery_image(photo)
    -# %img.card-img-top{ src: gallery_image_src(photo) } 
    .card-body
      %h5.card-title.photo-filename= photo.original_filename
      .card-text
        %small.text-muted Uploaded: #{uploaded_at(photo)}
