- content_for :title do
  Your Galleries

- content_for :right_hand_toolbar do
  = link_to new_gallery_path, class: 'btn btn-light', title: 'Create new gallery' do
    %i.fas.fa-plus
    &nbsp;
    Gallery

.mt-5
  - @galleries.each do |gallery|
    .card.w-25.float-left.ml-4
      %img.card-img-top{ src: 'http://via.placeholder.com/640x360' } 
      .card-body
        %h5.card-title= link_to gallery.title, gallery
        %p Created by: XXX