.card
  .card-body
    .card-title
      %h2 Create a gallery

    = form_with model: @gallery do |f|
      .form-group
        %label 
          Title
          = f.text_field :title, class: 'form-control'

      .form-group
        = f.submit 'Create gallery', class: 'btn btn-primary'